body
{ 
background-color: #21ac8e;
color: white;
}

.btn {
    display: inline-block;
    background-color: #7e8080;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.945);
    color: #ece6e6;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    }
    
    .btn:hover {
    background-color: #2b2929;
    }
